apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-app.fullname" . }}-config
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
data:
  CORS_ORIGINS: {{ .Values.backend.env.CORS_ORIGINS | quote }}
  KAFKA_BOOTSTRAP_SERVERS: {{ .Values.backend.env.KAFKA_BOOTSTRAP_SERVERS | quote }}
  DAPR_HTTP_PORT: {{ .Values.backend.env.DAPR_HTTP_PORT | quote }}
