# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build output
# =========================
dist/
build/
.next/
out/

# =========================
# Coverage
# =========================
coverage/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE files
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# Binaries (important for your error)
# =========================
*.exe
*.dll
*.so
*.dylib
*.amd64
# phase-4-k8s-local-minikube-*
# Ignore Minikube binaries
minikube-*
